h1 {
  color: teal;
}
h2 {
  color: gold;
}
.board {
	height: 80%;
	width: 50%;
	display: inline-block;
	color: black;
}
.card {
	height: 200px;
	width: 150px;
	border-width: 1px;
	border-radius: 10px;
	background-color: yellow;
  border: 5px black solid;
}
.name {
  color: #ff0000;
}
